
# pixi environments
.pixi
*.egg-info

# Data Files
src/meddra/MedDRA_28_0_ENglish/

# pycache
__pycache__

# FAERS Data
**/saved_data/
data/faers_reports/
data/meddra/raw
data/cache/

# Misc
**/.DS_Store

